.popup {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding: 70px;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
}

.popupContent h2 {
  margin-top: 0;
}

.popupContent p {
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 30px;
  right: 30px;
}

.rejectButton {
  background-color: #ffb6c1;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.acceptButton {
  background-color: #ffb6c1;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}



